#
# Gitignore
#

# Ignore general text files.
*.doc
*.docx
*.xlsx
*.log
*.rtf

# Ignore specific generated/temporary files.
roster.pdf
roster.xlsx
names-n-pics.md
names-n-pics.pdf
names.txt
temp.csv
*.png
